dify-workflows/2-cicd-failure-diagnose.yml
app:
  name: "CI/CD 失败诊断"
  description: "接收 CI/CD 失败事件，分析失败原因，生成诊断报告和修复建议"
  icon: "\U0001F6A8"
  icon_type: emoji
  icon_background: "#FFE4E1"
  mode: workflow
  use_icon_as_answer_icon: false
kind: app
version: "0.6.0"
dependencies:
  - type: model_provider
    value: deepseek
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
      enabled: false
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: edge-start-llm
        source: "1000001"
        sourceHandle: source
        target: "1000002"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: llm
          targetType: end
        id: edge-llm-end
        source: "1000002"
        sourceHandle: source
        target: "1000003"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          title: "接收失败信息"
          type: start
          variables:
            - label: "项目名"
              variable: project_name
              type: text-input
              required: true
              max_length: 100
            - label: "失败阶段"
              variable: fail_stage
              type: select
              required: true
              options:
                - value: build
                  label: 构建
                - value: test
                  label: 测试
                - value: deploy
                  label: 部署
                - value: lint
                  label: 代码检查
            - label: "错误日志"
              variable: error_log
              type: paragraph
              required: true
              max_length: 5000
            - label: "分支名"
              variable: branch
              type: text-input
              required: false
              max_length: 50
            - label: "提交SHA"
              variable: commit_sha
              type: text-input
              required: false
              max_length: 50
        height: 120
        id: "1000001"
        position: { x: 30, y: 300 }
        positionAbsolute: { x: 30, y: 300 }
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          title: "AI 诊断分析"
          type: llm
          model:
            provider: deepseek
            name: deepseek-chat
            mode: chat
            completion_params:
              temperature: 0.5
          prompt_template:
            - id: pt-sys-002
              role: system
              text: "你是客留平台的 CI/CD 故障诊断专家。根据失败信息输出结构化诊断报告，包含：失败根因（一句话）、可能原因列表（2-4条，按可能性排序）、具体修复步骤、预防建议。用中文回复。"
            - id: pt-user-002
              role: user
              text: "项目：{{#1000001.project_name#}}\n失败阶段：{{#1000001.fail_stage#}}\n分支：{{#1000001.branch#}}\n提交：{{#1000001.commit_sha#}}\n错误日志：\n```\n{{#1000001.error_log#}}\n```\n\n请输出完整诊断报告。"
          context:
            enabled: false
            variable_selector: []
          memory:
            query_prompt_template: "{{#sys.query#}}"
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: false
              size: 10
          vision:
            enabled: false
          variables: []
          selected: false
        height: 98
        id: "1000002"
        position: { x: 334, y: 300 }
        positionAbsolute: { x: 334, y: 300 }
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          title: "输出诊断结果"
          type: end
          outputs:
            - value_selector: ["1000002", text]
              variable: diagnosis_report
        height: 90
        id: "1000003"
        position: { x: 638, y: 300 }
        positionAbsolute: { x: 638, y: 300 }
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    viewport: { x: 0, y: 0, zoom: 0.8 }
