dify-workflows/3-cicd-rollback-analyze.yml
app:
  name: "CI/CD 回滚分析"
  description: "接收回滚请求，分析影响范围，生成回滚方案和后续行动建议"
  icon: "\U0001F504"
  icon_type: emoji
  icon_background: "#FFF3E0"
  mode: workflow
  use_icon_as_answer_icon: false
kind: app
version: "0.6.0"
dependencies:
  - type: model_provider
    value: deepseek
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
      enabled: false
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: edge-start-llm
        source: "1000001"
        sourceHandle: source
        target: "1000002"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: llm
          targetType: end
        id: edge-llm-end
        source: "1000002"
        sourceHandle: source
        target: "1000003"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          title: "接收回滚信息"
          type: start
          variables:
            - label: "项目名"
              variable: project_name
              type: text-input
              required: true
              max_length: 100
            - label: "回滚目标版本"
              variable: rollback_version
              type: text-input
              required: true
              max_length: 50
            - label: "当前版本"
              variable: current_version
              type: text-input
              required: true
              max_length: 50
            - label: "回滚原因"
              variable: reason
              type: paragraph
              required: true
              max_length: 2000
            - label: "受影响服务列表"
              variable: affected_services
              type: paragraph
              required: false
              max_length: 1000
        height: 120
        id: "1000001"
        position: { x: 30, y: 300 }
        positionAbsolute: { x: 30, y: 300 }
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          title: "AI 回滚分析"
          type: llm
          model:
            provider: deepseek
            name: deepseek-chat
            mode: chat
            completion_params:
              temperature: 0.5
          prompt_template:
            - id: pt-sys-003
              role: system
              text: "你是客留平台 DevOps 回滚分析师。根据回滚信息输出：影响范围评估（数据/功能/用户）、回滚操作步骤（分步编号）、风险提示（数据丢失/配置冲突等）、验证检查清单（确认回滚成功的测试项）、后续改进建议。用中文回复。"
            - id: pt-user-003
              role: user
              text: "项目：{{#1000001.project_name#}}\n从版本 {{#1000001.current_version#}} 回滚到 {{#1000001.rollback_version#}}\n回滚原因：{{#1000001.reason#}}\n受影响服务：{{#1000001.affected_services#}}\n\n请输出完整的回滚分析报告。"
          context:
            enabled: false
            variable_selector: []
          memory:
            query_prompt_template: "{{#sys.query#}}"
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: false
              size: 10
          vision:
            enabled: false
          variables: []
          selected: false
        height: 98
        id: "1000002"
        position: { x: 334, y: 300 }
        positionAbsolute: { x: 334, y: 300 }
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          title: "输出回滚方案"
          type: end
          outputs:
            - value_selector: ["1000002", text]
              variable: rollback_plan
        height: 90
        id: "1000003"
        position: { x: 638, y: 300 }
        positionAbsolute: { x: 638, y: 300 }
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    viewport: { x: 0, y: 0, zoom: 0.8 }
